.dialog-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.empresa-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
}

.empresa-card {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 12px;
  border: 1px solid #ddd;
  transition: all 0.3s ease;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.empresa-card:hover {
  background-color: #e3f2fd;
  transform: scale(1.02);
  border-color: #2196f3;
}

.empresa-card h3 {
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 18px;
}

.empresa-card p {
  margin-bottom: 10px;
  color: #555;
}

.ver-calendario {
  font-size: 14px;
  color: #1976d2;
  font-weight: bold;
}
/*Colores del boton Agendar*/
.btn-agendar {
  background-color: #3765C8;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 6px;
  transition: background-color 0.3s ease;
}

